html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.r-main-div {
    background-color: #d4eaff;
    font-family: Verdana;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}